.navBar {
    
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-height: 75px;
    margin: 0 auto;
    .nav {

     
        a{
            font-size: 18px;
            color: #042259;
            text-decoration: none;
            text-transform: uppercase;
        }
        &--left{
            a{
                margin-right: 10px;
            }
        }
        &--right{
            a, button{
                margin-left: 10px;
            }
        }
        button{
            background: none;
            border: none;
        }
    }
    h1 {
    
        margin: 0;
        text-transform: uppercase;
    
    
    }
}

    





ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul {
    display: flex;
}

.mainMenu {
    a {
      
     
       display: flex;
    
      
       

   
}
}



