

.footerContainer {
    
    
    color: #f6f6f6;
  

    .footerColumn {
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            font-weight: normal;
            margin-bottom: 30px;
            line-height: 24px;



        }
        p {
           font-family: 'Montserrat', sans-serif;
           font-size: 14px;
           letter-spacing: .3px;


        }

    }
}